# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore editor and OS-specific files
.vscode/
.idea/

# Ignore logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
debug/
log/

wave.config.*